body {
    background-image: url('/Assets/CSS/texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search {
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-shadow: 0 0 10px white;
}

.larger-input {
    height: 40px;
    width: 250px;
    border: 1px solid black;
}

.button {
    border-radius: 4px;
    color: white;
    padding: 5px 8px;
    margin-bottom: 20px;
    height: 40px;
    width: 250px;
}

#weatherDashboard {
    background-color: lightgray;
    margin-right: 60px;
    margin-top: 43px;
    margin-bottom: 30px;
    border: 1px solid black;
}


@media screen and (min-width: 480px) {
    #weatherDashboard {margin-left: 60px; margin-bottom: 20px;}
    #leftColumn {margin-left: 90px;}
} 